.list-box>.card {
    overflow: auto;
}

.list-box::-webkit-scrollbar {
    background: none;
    height: 10px;
}

.list-box::-webkit-scrollbar-thumb {
    background-color: rgba(200, 200, 200, 0.7);
}

.list-header {
    display: flex;
    justify-content: space-between;
}

.list-box>.list-holder>.card>.card-body {
    overflow-y: auto;
    max-height: 500px;
}

.list-box>.list-holder>.card>.card-body::-webkit-scrollbar-thumb {
    background-color: rgba(200, 200, 200, 0.7);
}

.list-box>.list-holder>.card>.card-body::-webkit-scrollbar {
    width: 10px;
}