.check-item {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.check-item input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0px;
    width: 0px;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(150, 150, 150);
    border-radius: 50%;
}

.check-item:hover input~.checkmark {
    background-color: #ccc;
}

.check-item input:checked~.checkmark {
    background-color: rgb(200, 200, 200);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.check-item input:checked~.checkmark:after {
    display: block;
}

.check-item .checkmark:after {
    left: 11px;
    top: 5px;
    width: 7px;
    height: 14px;
    border: solid rgb(100, 100, 100);
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkitem-holder {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}