.checklist-header {
    display: flex;
    justify-content: space-between;
}

.status-bar {
    width: 100%;
    background-color: rgba(200, 200, 200, 1);
    border-radius: 2.5px;
    height: 5px;
}

.status-bar>div {
    background-color: rgba(150, 150, 255, 1);
    border-radius: 2.5px;
    height: 100%;
    transition-duration: 500ms;
}