.card-holder {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.card-class {
    display: inline-block;
    word-wrap: normal;
    text-align: left;
    font-size: 14px;
}

.list-group-item:hover {
    color: rgba(0, 0, 100, 1);
}