.modal-header {
    display: flex;
    justify-content: space-between;
}

.modal-dialog {
    width: 1000px;
    max-width: 1000px;
}

.modal-body {
    display: grid;
    overflow-y: auto;
    max-height: 750px;
    ;
}

.modal-body>.card {
    width: 100%;
    margin-bottom: 25px;
}