body {
    margin: 0;
    background-color: rgba(0, 0, 0, 1);
}

header {
    text-align: center;
}

.logo {
    background-image: url(./assets/images/header-logo-2x.01ef898811a879595cea.png);
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: 80px 30px;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    width: 80px;
}

hr {
    border: solid 1px rgba(255, 255, 255, 1);
    margin-left: 25px;
    margin-right: 25px;
}

.form-control {
    display: inline-block;
    width: 60%;
    position: relative;
    top: 3px;
}